<h2>Reset Password:</h2>
<hr>
<form action="/api/users/passwordreset" method="post">

    {{#if error}}
        <div style="color: red;">{{error}}</div>
    {{/if}}

    {{#if message}}
        <div style="color: green;">{{message}}</div>
    {{/if}}
    
    <input type="email" name="email" placeholder="ENTER EMAIL">
    <br>
    <input type="submit" value="Reset">
    
</form>