<h2>Set your new password:</h2>
<hr />
<form action="/api/users/passwordreset3" method="post">
    {{#if error}}
    <div style="color: red;">{{error}}</div>
    {{/if}}

    {{#if message}}
    <div style="color: green;">{{message}}</div>
    {{/if}}
    <div style="color: red;" id="error"></div>
    <input type="password" name="password" id="password" placeholder="PASSWORD" />
    <br /><br />
    <input type="password" name="password2" id="password2" placeholder="REPEAT PASSWORD" />
    <br />
    <input type="submit" value="Reset" />
    <input type="text" name="token" id="token" hidden />
</form>

<script src="js/passwordResetScripts.js"></script>